In [1]:
#Dataframe
import pandas as pd

#Visualitation
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
%matplotlib inline

#for dictionary
from ast import literal_eval
from collections import Counter

#word
from wordcloud import WordCloud

#Image
from PIL import Image

#URL
from urllib.request import urlopen

import os
import time

In [2]:
train_movies = pd.read_csv('../input/train.csv')
test_movies = pd.read_csv('../input/test.csv')

In [3]:
train_movies.head()

   id    ...      revenue
0   1    ...     12314651
1   2    ...     95149435
2   3    ...     13092000
3   4    ...     16000000
4   5    ...      3923970

[5 rows x 23 columns]

In [4]:
test_movies[test_movies['budget']==0]

        id                        ...                                                                       crew
0     3001                        ...                          [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
2     3003                        ...                          [{'credit_id': '52fe4330c3a36847f8041367', 'de...
5     3006                        ...                          [{'credit_id': '52fe4576c3a368484e05c901', 'de...
6     3007                        ...                          [{'credit_id': '52fe485bc3a36847f816358d', 'de...
11    3012                        ...                          [{'credit_id': '53567267c3a36841d6002424', 'de...
15    3016                        ...                          [{'credit_id': '52fe4990c3a36847f81a0cc3', 'de...
18    3019                        ...                          [{'credit_id': '52fe46f09251416c75088863', 'de...
22    3023                        ...                          [{'credit_id': '52fe45ac9251416c7505e8d5', 'de...
24    3025                        ...                          [{'credit_id': '5391fcac0e0a266dc20001ce', 'de...
34    3035                        ...                          [{'credit_id': '562f9cdac3a3681b5900d6eb', 'de...
39    3040                        ...                          [{'credit_id': '571ba7c4c3a3686524001567', 'de...
41    3042                        ...                          [{'credit_id': '52fe43d0c3a36847f8071c6f', 'de...
45    3046                        ...                          [{'credit_id': '52fe45e2c3a36847f80e0115', 'de...
46    3047                        ...                          [{'credit_id': '52fe4446c3a368484e019ebd', 'de...
48    3049                        ...                          [{'credit_id': '52fe44ab9251416c7503ce09', 'de...
52    3053                        ...                          [{'credit_id': '57e4656dc3a368759c00a6af', 'de...
53    3054                        ...                          [{'credit_id': '52fe47359251416c9106d8dd', 'de...
55    3056                        ...                          [{'credit_id': '52fe48f4c3a36847f8182035', 'de...
58    3059                        ...                          [{'credit_id': '52fe49c59251416c750d2d99', 'de...
61    3062                        ...                          [{'credit_id': '52fe46199251416c7506d055', 'de...
66    3067                        ...                          [{'credit_id': '58625049c3a3681a68044da4', 'de...
69    3070                        ...                          [{'credit_id': '52fe457bc3a368484e05df1b', 'de...
72    3073                        ...                          [{'credit_id': '52fe45479251416c7505118f', 'de...
73    3074                        ...                          [{'credit_id': '52fe484bc3a368484e0f1a15', 'de...
81    3082                        ...                          [{'credit_id': '52fe433fc3a36847f804599d', 'de...
86    3087                        ...                          [{'credit_id': '52fe48a6c3a36847f8172699', 'de...
87    3088                        ...                          [{'credit_id': '52fe48eb9251416c9109ca81', 'de...
91    3092                        ...                          [{'credit_id': '52fe436cc3a36847f8053125', 'de...
99    3100                        ...                          [{'credit_id': '52fe43f79251416c750246c9', 'de...
100   3101                        ...                          [{'credit_id': '52fe463d9251416c75071e6d', 'de...
...    ...                        ...                                                                        ...
4304  7305                        ...                          [{'credit_id': '52fe44e1c3a368484e03c405', 'de...
4306  7307                        ...                          [{'credit_id': '52fe46c2c3a368484e0a22c9', 'de...
4307  7308                        ...                          [{'credit_id': '52fe47acc3a36847f814229d', 'de...
4309  7310                        ...                          [{'credit_id': '52fe441dc3a368484e010221', 'de...
4310  7311                        ...                          [{'credit_id': '534fe49a0e0a267eb2000f18', 'de...
4315  7316                        ...                          [{'credit_id': '52fe4ed6c3a36847f82ab093', 'de...
4320  7321                        ...                          [{'credit_id': '5509f03cc3a3682832000044', 'de...
4321  7322                        ...                          [{'credit_id': '569fe3b5c3a36858dc00a6ca', 'de...
4326  7327                        ...                          [{'credit_id': '52fe4f0cc3a36847f82b9dfd', 'de...
4333  7334                        ...                          [{'credit_id': '573c9d58c3a3687dad000300', 'de...
4336  7337                        ...                          [{'credit_id': '52fe420dc3a36847f800023d', 'de...
4339  7340                        ...                          [{'credit_id': '52fe45d19251416c750637ad', 'de...
4340  7341                        ...                                                                        NaN
4343  7344                        ...                          [{'credit_id': '52fe45a09251416c91038d69', 'de...
4344  7345                        ...                          [{'credit_id': '52fe44cec3a36847f80ab2e9', 'de...
4347  7348                        ...                          [{'credit_id': '55447012c3a3680cd5003aed', 'de...
4351  7352                        ...                          [{'credit_id': '52fe448bc3a368484e028bc5', 'de...
4352  7353                        ...                          [{'credit_id': '52fe450ac3a368484e0450bf', 'de...
4360  7361                        ...                          [{'credit_id': '52fe4706c3a36847f811f869', 'de...
4363  7364                        ...                          [{'credit_id': '52fe4827c3a36847f815a4ad', 'de...
4366  7367                        ...                          [{'credit_id': '52fe48a1c3a36847f81718e1', 'de...
4367  7368                        ...                          [{'credit_id': '5985e7d792514128dc000639', 'de...
4370  7371                        ...                          [{'credit_id': '52fe45c4c3a368484e06dda7', 'de...
4375  7376                        ...                          [{'credit_id': '52fe459e9251416c910389d9', 'de...
4379  7380                        ...                          [{'credit_id': '52fe4f35c3a36847f82c554f', 'de...
4380  7381                        ...                          [{'credit_id': '555da498c3a3686934001048', 'de...
4386  7387                        ...                          [{'credit_id': '52fe4490c3a368484e029f03', 'de...
4387  7388                        ...                          [{'credit_id': '52fe4d5fc3a368484e1e596f', 'de...
4389  7390                        ...                          [{'credit_id': '52fe4b999251416c910dfbfd', 'de...
4390  7391                        ...                          [{'credit_id': '52fe43f5c3a368484e007f93', 'de...

[1211 rows x 22 columns]

In [5]:
test_movies.loc[test_movies['id'] == 6733,'budget'] = 5000000
test_movies.loc[test_movies['id'] == 3889,'budget'] = 15000000
test_movies.loc[test_movies['id'] == 6683,'budget'] = 50000000
test_movies.loc[test_movies['id'] == 5704,'budget'] = 4300000
test_movies.loc[test_movies['id'] == 6109,'budget'] = 281756
test_movies.loc[test_movies['id'] == 7242,'budget'] = 10000000
test_movies.loc[test_movies['id'] == 7021,'budget'] = 17540562       #  Two Is a Family
test_movies.loc[test_movies['id'] == 5591,'budget'] = 4000000        # The Orphanage
test_movies.loc[test_movies['id'] == 4282,'budget'] = 20000000       # Big Top Pee-wee
test_movies.loc[test_movies['id'] == 3033,'budget'] = 250 
test_movies.loc[test_movies['id'] == 3051,'budget'] = 50
test_movies.loc[test_movies['id'] == 3084,'budget'] = 337
test_movies.loc[test_movies['id'] == 3224,'budget'] = 4  
test_movies.loc[test_movies['id'] == 3594,'budget'] = 25  
test_movies.loc[test_movies['id'] == 3619,'budget'] = 500  
test_movies.loc[test_movies['id'] == 3831,'budget'] = 3  
test_movies.loc[test_movies['id'] == 3935,'budget'] = 500  
test_movies.loc[test_movies['id'] == 4049,'budget'] = 995946 
test_movies.loc[test_movies['id'] == 4424,'budget'] = 3  
test_movies.loc[test_movies['id'] == 4460,'budget'] = 8  
test_movies.loc[test_movies['id'] == 4555,'budget'] = 1200000 
test_movies.loc[test_movies['id'] == 4624,'budget'] = 30 
test_movies.loc[test_movies['id'] == 4645,'budget'] = 500 
test_movies.loc[test_movies['id'] == 4709,'budget'] = 450 
test_movies.loc[test_movies['id'] == 4839,'budget'] = 7
test_movies.loc[test_movies['id'] == 3125,'budget'] = 25 
test_movies.loc[test_movies['id'] == 3142,'budget'] = 1
test_movies.loc[test_movies['id'] == 3201,'budget'] = 450
test_movies.loc[test_movies['id'] == 3222,'budget'] = 6
test_movies.loc[test_movies['id'] == 3545,'budget'] = 38
test_movies.loc[test_movies['id'] == 3670,'budget'] = 18
test_movies.loc[test_movies['id'] == 3792,'budget'] = 19
test_movies.loc[test_movies['id'] == 3881,'budget'] = 7
test_movies.loc[test_movies['id'] == 3969,'budget'] = 400
test_movies.loc[test_movies['id'] == 4196,'budget'] = 6
test_movies.loc[test_movies['id'] == 4221,'budget'] = 11
test_movies.loc[test_movies['id'] == 4222,'budget'] = 500
test_movies.loc[test_movies['id'] == 4285,'budget'] = 11
test_movies.loc[test_movies['id'] == 4319,'budget'] = 1
test_movies.loc[test_movies['id'] == 4639,'budget'] = 10
test_movies.loc[test_movies['id'] == 4719,'budget'] = 45
test_movies.loc[test_movies['id'] == 4822,'budget'] = 22
test_movies.loc[test_movies['id'] == 4829,'budget'] = 20
test_movies.loc[test_movies['id'] == 4969,'budget'] = 20
test_movies.loc[test_movies['id'] == 5021,'budget'] = 40 
test_movies.loc[test_movies['id'] == 5035,'budget'] = 1 
test_movies.loc[test_movies['id'] == 5063,'budget'] = 14 
test_movies.loc[test_movies['id'] == 5119,'budget'] = 2 
test_movies.loc[test_movies['id'] == 5214,'budget'] = 30 
test_movies.loc[test_movies['id'] == 5221,'budget'] = 50 
test_movies.loc[test_movies['id'] == 4903,'budget'] = 15
test_movies.loc[test_movies['id'] == 4983,'budget'] = 3
test_movies.loc[test_movies['id'] == 5102,'budget'] = 28
test_movies.loc[test_movies['id'] == 5217,'budget'] = 75
test_movies.loc[test_movies['id'] == 5224,'budget'] = 3 
test_movies.loc[test_movies['id'] == 5469,'budget'] = 20 
test_movies.loc[test_movies['id'] == 5840,'budget'] = 1 
test_movies.loc[test_movies['id'] == 5960,'budget'] = 30
test_movies.loc[test_movies['id'] == 6506,'budget'] = 11 
test_movies.loc[test_movies['id'] == 6553,'budget'] = 280
test_movies.loc[test_movies['id'] == 6561,'budget'] = 7
test_movies.loc[test_movies['id'] == 6582,'budget'] = 218
test_movies.loc[test_movies['id'] == 6638,'budget'] = 5
test_movies.loc[test_movies['id'] == 6749,'budget'] = 8 
test_movies.loc[test_movies['id'] == 6759,'budget'] = 50 
test_movies.loc[test_movies['id'] == 6856,'budget'] = 10
test_movies.loc[test_movies['id'] == 6858,'budget'] =  100
test_movies.loc[test_movies['id'] == 6876,'budget'] =  250
test_movies.loc[test_movies['id'] == 6972,'budget'] = 1
test_movies.loc[test_movies['id'] == 7079,'budget'] = 8000000
test_movies.loc[test_movies['id'] == 7150,'budget'] = 118
test_movies.loc[test_movies['id'] == 6506,'budget'] = 118
test_movies.loc[test_movies['id'] == 7225,'budget'] = 6
test_movies.loc[test_movies['id'] == 7231,'budget'] = 85
test_movies.loc[test_movies['id'] == 5222,'budget'] = 5
test_movies.loc[test_movies['id'] == 5322,'budget'] = 90
test_movies.loc[test_movies['id'] == 5350,'budget'] = 70
test_movies.loc[test_movies['id'] == 5378,'budget'] = 10
test_movies.loc[test_movies['id'] == 5545,'budget'] = 80
test_movies.loc[test_movies['id'] == 5810,'budget'] = 8
test_movies.loc[test_movies['id'] == 5926,'budget'] = 300
test_movies.loc[test_movies['id'] == 5927,'budget'] = 4
test_movies.loc[test_movies['id'] == 5986,'budget'] = 1
test_movies.loc[test_movies['id'] == 6053,'budget'] = 20
test_movies.loc[test_movies['id'] == 6104,'budget'] = 1
test_movies.loc[test_movies['id'] == 6130,'budget'] = 30
test_movies.loc[test_movies['id'] == 6301,'budget'] = 150
test_movies.loc[test_movies['id'] == 6276,'budget'] = 100
test_movies.loc[test_movies['id'] == 6473,'budget'] = 100
test_movies.loc[test_movies['id'] == 6842,'budget'] = 30
test_movies.loc[test_movies['id'] == 6818,'budget'] = 259385
test_movies.loc[test_movies['id'] == 6210,'budget'] = 2859500
test_movies.loc[test_movies['id'] == 6804,'budget'] = 432690

In [6]:
def fix_date(x):
    """
    Fixes dates which are in 20xx
    """
    year = x.split('/')[2]
    if int(year) <= 19:
        return x[:-2] + '20' + year
    else:
        return x[:-2] + '19' + year

In [7]:
train_movies['release_date'] = train_movies['release_date'].apply(lambda x: fix_date(x))

In [8]:
test_movies['release_date'][test_movies['release_date'].isnull()] = '05/01/00'

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
test_movies['release_date'] = test_movies['release_date'].apply(lambda x: fix_date(x))

In [10]:
train_movies['release_date'] = pd.to_datetime(train_movies['release_date'])
test_movies['release_date'] = pd.to_datetime(test_movies['release_date'])

# Parsing

In [11]:
def parsing_columns(df, columns):
    """
    To get name from the selected column. Columns must be in list. 1 value can be selected just use '[]'
    """
    for column in columns:
        listed = []
        for i in df[column]:
            try:
                a = literal_eval(i.strip('[]'))
                listed.append(a)
            except AttributeError:
                listed.append('NaN')
            except SyntaxError:
                listed.append('NaN')

        coba = []
        for i in listed:
            if type(i) == str:
                coba.append('NaN')
            elif type(i) == tuple:
                tes = []
                for x in i:
                    if x['name'] != '':
                        tes.append(x['name'])  
                tes2 = ', '.join(tes)
                coba.append(tes2)
            else:
                if type(i) == dict:
                    coba.append(i['name'])

        df[column] = coba
    return df

In [12]:
def name_from_job(df, columns, name):
    """
    To get name according the specific role/jobs. Columns must be in list. 1 value can be selected just use '[]'
    """
    for column in columns:
        listed = []
        for i in df[column]:
            try:
                a = literal_eval(i.strip('[]'))
                listed.append(a)
            except AttributeError:
                listed.append('NaN')
            except SyntaxError:
                listed.append('NaN')

        coba = []
        for i in listed:
            if type(i) == str:
                coba.append('NaN')
            elif type(i) == tuple:
                tes = []
                for x in i:
                    for b, c in x.items():
                        if c == name:      
                            if x['name'] != '':
                                tes.append(x['name'])  
                tes2 = ', '.join(tes)
                coba.append(tes2)
            else:
                if type(i) == dict:
                    coba.append(i['name'])

        df[column + '_' + name] = coba
    return df

In [13]:
# remove belongs_id_colelction and homepage
train_select = ['id', 'budget', 'genres',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue']

test_select = ['id', 'budget', 'genres',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew']

train_movies = train_movies[train_select]
test_movies = test_movies[test_select]

In [14]:
#columns that have values in dictionary
selected_columns = ['genres', 'production_companies', 'production_countries', 'spoken_languages','Keywords', 'cast']

In [15]:
train_movies = parsing_columns(train_movies, selected_columns)
test_movies = parsing_columns(test_movies, selected_columns)

In [16]:
train_movies = train_movies[['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'revenue']]

test_movies = test_movies[['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast']]

# The amount of

In [17]:
train_num_cast = train_movies['cast'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
train_movies['num_cast'] = train_num_cast

test_num_cast = test_movies['cast'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
test_movies['num_cast'] = test_num_cast

In [18]:
train_num_genres = train_movies['genres'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
train_movies['num_genres'] = train_num_genres

test_num_genres = test_movies['genres'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
test_movies['num_genres'] = test_num_genres

In [19]:
train_num_companies = train_movies['production_companies'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
train_movies['num_companies'] = train_num_companies

test_num_companies = test_movies['production_companies'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
test_movies['num_companies'] = test_num_companies

In [20]:
train_num_countries = train_movies['production_countries'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
train_movies['num_countries'] = train_num_countries

test_num_countries = test_movies['production_countries'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
test_movies['num_countries'] = test_num_countries

In [21]:
train_num_languages = train_movies['spoken_languages'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
train_movies['num_languages'] = train_num_languages

test_num_languages = test_movies['spoken_languages'].apply(lambda x: len(x.split(',')) if x != 'NaN' else 0)
test_movies['num_languages'] = test_num_languages

In [22]:
train_movies[train_movies['runtime'].isnull()]

        id   budget      ...      num_countries num_languages
1335  1336  6000000      ...                  0             0
2302  2303        0      ...                  1             1

[2 rows x 25 columns]

In [23]:
train_movies.loc[train_movies['id'] == 1336,'runtime'] = 130.0
train_movies.loc[train_movies['id'] == 2303,'runtime'] = 90.0

In [24]:
train_movies.loc[train_movies['id'] == 391,'runtime'] = 86.0
train_movies.loc[train_movies['id'] == 592,'runtime'] = 90.0
train_movies.loc[train_movies['id'] == 925,'runtime'] = 86.0
train_movies.loc[train_movies['id'] == 978,'runtime'] = 93.0
train_movies.loc[train_movies['id'] == 1256,'runtime'] = 92.0
train_movies.loc[train_movies['id'] == 1542,'runtime'] = 93.0
train_movies.loc[train_movies['id'] == 1875,'runtime'] = 60.0
train_movies.loc[train_movies['id'] == 2151,'runtime'] = 108.0
train_movies.loc[train_movies['id'] == 2499,'runtime'] = 86.0
train_movies.loc[train_movies['id'] == 2646,'runtime'] = 98.0
train_movies.loc[train_movies['id'] == 2786,'runtime'] = 111.0
train_movies.loc[train_movies['id'] == 2866,'runtime'] = 96.0

In [25]:
test_movies[test_movies['runtime'].isnull()]

        id  budget      ...      num_countries num_languages
243   3244       0      ...                  1             1
1489  4490       0      ...                  1             1
1632  4633       0      ...                  1             1
3817  6818  259385      ...                  1             1

[4 rows x 24 columns]

In [26]:
test_movies.loc[test_movies['id'] == 3244,'runtime'] = 93.0
test_movies.loc[test_movies['id'] == 4490,'runtime'] = 91.0
test_movies.loc[test_movies['id'] == 4633,'runtime'] = 100.0
test_movies.loc[test_movies['id'] == 6818,'runtime'] = 90.0

In [27]:
test_movies.loc[test_movies['id'] == 4074,'runtime'] = 103.0
test_movies.loc[test_movies['id'] == 4222,'runtime'] = 91.0
test_movies.loc[test_movies['id'] == 4431,'runtime'] = 96.0
test_movies.loc[test_movies['id'] == 5520,'runtime'] = 86.0
test_movies.loc[test_movies['id'] == 5845,'runtime'] = 83.0
test_movies.loc[test_movies['id'] == 5849,'runtime'] = 140.0
test_movies.loc[test_movies['id'] == 6210,'runtime'] = 104.0
test_movies.loc[test_movies['id'] == 6804,'runtime'] = 140.0
test_movies.loc[test_movies['id'] == 7321,'runtime'] = 87.0

In [28]:
test_movies.loc[test_movies['id'] == 3074,'genres'] = 'Action, Crime, Thriller'
test_movies.loc[test_movies['id'] == 3794,'genres'] = 'Drama, Romance'
test_movies.loc[test_movies['id'] == 3911,'genres'] = 'Adventure, Drama, Romance'
test_movies.loc[test_movies['id'] == 4222,'genres'] = 'Action, Crime, Drama, Thriller'
test_movies.loc[test_movies['id'] == 4443,'genres'] = 'Drama'
test_movies.loc[test_movies['id'] == 4616,'genres'] = 'Comedy'
test_movies.loc[test_movies['id'] == 4965,'genres'] = 'Action, Crime'
test_movies.loc[test_movies['id'] == 5063,'genres'] = 'Action, Drama'
test_movies.loc[test_movies['id'] == 5119,'genres'] = 'Drama'
test_movies.loc[test_movies['id'] == 5214,'genres'] = 'Documentary, Family'
test_movies.loc[test_movies['id'] == 5252,'genres'] = 'Comedy'
test_movies.loc[test_movies['id'] == 5520,'genres'] = 'Comedy, Crime, Mystery'
test_movies.loc[test_movies['id'] == 6450,'genres'] = 'Comedy, Crime, Drama'
test_movies.loc[test_movies['id'] == 6486,'genres'] = 'Music, Comedy'
test_movies.loc[test_movies['id'] == 6565,'genres'] = 'Documentary, Drama, War'
test_movies.loc[test_movies['id'] == 6818,'genres'] = 'Drama'

# Dummies

In [29]:
#Find list of dummies of unique job
def dummies_jobs(movies):
  d = []
  for i in movies['crew']:
      if pd.isna(i):
          d.append({})
      else:
          d.append(literal_eval(i))

  jobs = []
  for i in d:
      if i == {}:
          jobs.append({})
      else:
          for k in i:
              for x, y in k.items():
                  if x == 'job':
                      jobs.append(y)

  listed_jobs = []
  for i in jobs:
      if i not in listed_jobs:
          if i != {}:
              listed_jobs.append(i)

  #Making dataframe for unique jobs 
  df_jobs = pd.DataFrame()
  for u in listed_jobs:
      v = []
      for i in d:
          if type(i) == dict:
              v.append(0)
          else:
              ada = 0
              for k in i:
                  for x, y in k.items():
                      if x == 'job':
                          if y == u:
                              ada += 1
              v.append(ada)
      df_jobs[u] = v

  return df_jobs

In [30]:
#Find list of dummies for unique genres name
def dummies_genres(movies):
  d = []
  for i in movies['genres']:
      if pd.isna(i):
          d.append({})
      else:
          d.append(literal_eval(i))

  genres = []
  for i in d:
      if i == {}:
          genres.append({})
      else:
          for k in i:
              for x, y in k.items():
                  if x == 'name':
                      genres.append(y)

  listed_genres = []
  for i in genres:
      if i not in listed_genres:
          if i != {}:
              listed_genres.append(i)

  #Making dataframe for unique genres 
  df_genres = pd.DataFrame()
  for u in listed_genres:
      v = []
      for i in d:
          if type(i) == dict:
              v.append(0)
          else:
              ada = 0
              for k in i:
                  for x, y in k.items():
                      if x == 'name':
                          if y == u:
                              ada += 1
              v.append(ada)
      df_genres[u] = v

  return df_genres

In [31]:
#Find list of dummies for unique production_companies name
def dummies_companies(movies):
  d = []
  for i in movies['production_companies']:
      if pd.isna(i):
          d.append({})
      else:
          d.append(literal_eval(i))

  companies = []
  for i in d:
      if i == {}:
          companies.append({})
      else:
          for k in i:
              for x, y in k.items():
                  if x == 'name':
                      companies.append(y)

  listed_companies = []
  for i in companies:
      if i not in listed_companies:
          if i != {}:
              listed_companies.append(i)

  #Making dataframe for unique production_companies 
  df_companies = pd.DataFrame()
  for u in listed_companies:
      v = []
      for i in d:
          if type(i) == dict:
              v.append(0)
          else:
              ada = 0
              for k in i:
                  for x, y in k.items():
                      if x == 'name':
                          if y == u:
                              ada += 1
              v.append(ada)
      df_companies[u] = v

  return df_companies

In [32]:
#Find list of dummies for unique production_countries name
def dummies_countries(movies):
  d = []
  for i in movies['production_countries']:
      if pd.isna(i):
          d.append({})
      else:
          d.append(literal_eval(i))

  countries = []
  for i in d:
      if i == {}:
          countries.append({})
      else:
          for k in i:
              for x, y in k.items():
                  if x == 'name':
                      countries.append(y)

  listed_countries = []
  for i in countries:
      if i not in listed_countries:
          if i != {}:
              listed_countries.append(i)

  #Making dataframe for unique production_countries
  df_countries = pd.DataFrame()
  for u in listed_countries:
      v = []
      for i in d:
          if type(i) == dict:
              v.append(0)
          else:
              ada = 0
              for k in i:
                  for x, y in k.items():
                      if x == 'name':
                          if y == u:
                              ada += 1
              v.append(ada)
      df_countries[u] = v

  return df_countries

In [33]:
train_df_jobs = dummies_jobs(pd.read_csv('../input/train.csv'))
test_df_jobs = dummies_jobs(pd.read_csv('../input/test.csv'))

In [34]:
train_df_genres = dummies_genres(pd.read_csv('../input/train.csv'))
test_df_genres = dummies_genres(pd.read_csv('../input/test.csv'))

In [35]:
train_df_countries = dummies_countries(pd.read_csv('../input/train.csv'))
test_df_countries = dummies_countries(pd.read_csv('../input/test.csv'))

In [36]:
test = []
for i in test_df_countries.columns:
    if i not in train_df_countries.columns:
        test.append(i)
        
len(test)

24

In [37]:
trn = []
for i in train_df_countries.columns:
    if i not in test_df_countries.columns:
        trn.append(i)

len(trn)

15

In [38]:
print(train_df_countries.shape)
print(test_df_countries.shape)

(3000, 74)
(4398, 83)

In [39]:
for i in trn:
    test_df_countries[i] = 0

In [40]:
for i in test:
    train_df_countries[i] = 0

In [41]:
print(train_df_countries.shape)
print(test_df_countries.shape)

(3000, 98)
(4398, 98)

In [42]:
print(train_df_jobs.shape)
print(test_df_jobs.shape)

(3000, 412)
(4398, 420)

In [43]:
print(train_df_genres.shape)
print(test_df_genres.shape)

(3000, 20)
(4398, 19)

In [44]:
test_df_genres['TV Movie'] = 0

In [45]:
list_for_jobs = []
for i in test_df_jobs.columns:
    if i not in train_df_jobs.columns:
        list_for_jobs.append(i)

In [46]:
list_for_jobs2 = []
for i in train_df_jobs.columns:
    if i not in test_df_jobs.columns:
        list_for_jobs2.append(i)

In [47]:
for i in list_for_jobs:
    train_df_jobs[i] = 0

In [48]:
for i in list_for_jobs2:
    test_df_jobs[i] = 0

In [49]:
print(train_df_jobs.shape)
print(test_df_jobs.shape)

(3000, 433)
(4398, 433)

In [50]:
train_df_jobs = train_df_jobs[sorted(train_df_jobs.columns)[:-1]]
test_df_jobs = test_df_jobs[sorted(test_df_jobs.columns)[:-1]]

In [51]:
print(train_df_jobs.shape)
print(test_df_jobs.shape)

(3000, 432)
(4398, 432)

In [52]:
print(train_df_genres.shape)
print(test_df_genres.shape)

(3000, 20)
(4398, 20)

In [53]:
train_df_genres = train_df_genres[sorted(train_df_genres.columns)[:-1]]
test_df_genres = test_df_genres[sorted(test_df_genres.columns)[:-1]]

In [54]:
print(train_df_genres.shape)
print(test_df_genres.shape)

(3000, 19)
(4398, 19)

In [55]:
print(train_df_countries.shape)
print(test_df_countries.shape)

(3000, 98)
(4398, 98)

In [56]:
train_df_countries = train_df_countries[sorted(train_df_countries.columns)[:-1]]
test_df_countries = test_df_countries[sorted(test_df_countries.columns)[:-1]]

In [57]:
print(train_df_countries.shape)
print(test_df_countries.shape)

(3000, 97)
(4398, 97)

In [58]:
train_movies['day'] = train_movies['release_date'].dt.day_name()
test_movies['day'] = test_movies['release_date'].dt.day_name()

In [59]:
train_movies['month'] = train_movies['release_date'].dt.month_name()
test_movies['month'] = test_movies['release_date'].dt.month_name()

In [60]:
print(train_movies.shape)
print(test_movies.shape)

(3000, 27)
(4398, 26)

In [61]:
def week_of_month(date):
    week = []
    for i in date.dt.day:
        if i in range(1, 8):
            week.append(1)
        elif i in range(8, 15):
            week.append(2)
        elif i in range(15, 22):
            week.append(3)
        elif i in range(22, 32):
            week.append(4)
    return week

In [62]:
train_movies['week_of_month'] = week_of_month(train_movies['release_date'])
test_movies['week_of_month'] = week_of_month(test_movies['release_date'])

In [63]:
train_selected = ['budget', 'popularity', 'runtime', 'status', 'num_cast', 'num_genres', 'num_companies', 'num_countries',
            'num_languages', 'day', 'month', 'week_of_month', 'revenue']

test_selected = ['budget', 'popularity', 'runtime', 'status', 'num_cast', 'num_genres', 'num_companies', 'num_countries',
            'num_languages', 'day', 'month', 'week_of_month']

In [64]:
train_movies = train_movies[train_selected]

In [65]:
test_movies = test_movies[test_selected]

In [66]:
train_movies['week_of_month'] = train_movies['week_of_month'].astype('category')
test_movies['week_of_month'] = test_movies['week_of_month'].astype('category')

In [67]:
train_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 13 columns):
budget           3000 non-null int64
popularity       3000 non-null float64
runtime          3000 non-null float64
status           3000 non-null object
num_cast         3000 non-null int64
num_genres       3000 non-null int64
num_companies    3000 non-null int64
num_countries    3000 non-null int64
num_languages    3000 non-null int64
day              3000 non-null object
month            3000 non-null object
week_of_month    3000 non-null category
revenue          3000 non-null int64
dtypes: category(1), float64(2), int64(7), object(3)
memory usage: 284.4+ KB

In [68]:
test_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 12 columns):
budget           4398 non-null int64
popularity       4398 non-null float64
runtime          4398 non-null float64
status           4396 non-null object
num_cast         4398 non-null int64
num_genres       4398 non-null int64
num_companies    4398 non-null int64
num_countries    4398 non-null int64
num_languages    4398 non-null int64
day              4398 non-null object
month            4398 non-null object
week_of_month    4398 non-null category
dtypes: category(1), float64(2), int64(6), object(3)
memory usage: 382.5+ KB

In [69]:
train_movies['status_Post Production'] = 0

In [70]:
train_movies = pd.get_dummies(train_movies)
test_movies = pd.get_dummies(test_movies)

In [71]:
print(train_movies.shape)
print(test_movies.shape)

(3000, 35)
(4398, 34)

In [72]:
test_movies.head()

    budget  popularity       ...         week_of_month_3  week_of_month_4
0        0    3.851534       ...                       0                0
1    88000    3.559789       ...                       1                0
2        0    8.085194       ...                       0                1
3  6800000    8.596012       ...                       0                0
4  2000000    3.217680       ...                       0                0

[5 rows x 34 columns]

In [73]:
train_movies.head()

     budget  popularity       ...         week_of_month_3  week_of_month_4
0  14000000    6.575393       ...                       1                0
1  40000000    8.248895       ...                       0                0
2   3300000   64.299990       ...                       0                0
3   1200000    3.174936       ...                       0                0
4         0    1.148070       ...                       0                0

[5 rows x 35 columns]

In [74]:
train_movies[train_movies['runtime'].isnull()]

Empty DataFrame
Columns: [budget, popularity, runtime, num_cast, num_genres, num_companies, num_countries, num_languages, revenue, status_Post Production, status_Released, status_Rumored, day_Friday, day_Monday, day_Saturday, day_Sunday, day_Thursday, day_Tuesday, day_Wednesday, month_April, month_August, month_December, month_February, month_January, month_July, month_June, month_March, month_May, month_November, month_October, month_September, week_of_month_1, week_of_month_2, week_of_month_3, week_of_month_4]
Index: []

In [75]:
train_movies.iloc[1335,2]

130.0

In [76]:
train_movies.columns

Index(['budget', 'popularity', 'runtime', 'num_cast', 'num_genres',
       'num_companies', 'num_countries', 'num_languages', 'revenue',
       'status_Post Production', 'status_Released', 'status_Rumored',
       'day_Friday', 'day_Monday', 'day_Saturday', 'day_Sunday',
       'day_Thursday', 'day_Tuesday', 'day_Wednesday', 'month_April',
       'month_August', 'month_December', 'month_February', 'month_January',
       'month_July', 'month_June', 'month_March', 'month_May',
       'month_November', 'month_October', 'month_September', 'week_of_month_1',
       'week_of_month_2', 'week_of_month_3', 'week_of_month_4'],
      dtype='object')

In [77]:
train_selected = ['revenue', 'budget', 'popularity', 'num_cast', 'num_genres', 'num_companies',
       'num_countries', 'num_languages',
       'status_Released', 'status_Rumored', 'day_Friday',
       'day_Saturday', 'day_Sunday', 'day_Thursday', 'day_Tuesday',
       'day_Wednesday', 'month_April', 'month_August', 'month_December',
       'month_February', 'month_July', 'month_June',
       'month_March', 'month_May', 'month_November', 'month_October',
       'month_September', 'week_of_month_2',
       'week_of_month_3', 'week_of_month_4']

test_selected = ['budget', 'popularity', 'num_cast', 'num_genres', 'num_companies',
       'num_countries', 'num_languages',
       'status_Released', 'status_Rumored', 'day_Friday',
       'day_Saturday', 'day_Sunday', 'day_Thursday', 'day_Tuesday',
       'day_Wednesday', 'month_April', 'month_August', 'month_December',
       'month_February', 'month_July', 'month_June',
       'month_March', 'month_May', 'month_November', 'month_October',
       'month_September', 'week_of_month_2',
       'week_of_month_3', 'week_of_month_4']

In [78]:
train_movies = train_movies[train_selected]
test_movies = test_movies[test_selected]

In [79]:
print(train_movies.shape)
print(test_movies.shape)

(3000, 30)
(4398, 29)

In [80]:
train_movies = pd.concat([train_movies,train_df_genres, train_df_jobs, train_df_countries], axis=1)
test_movies = pd.concat([test_movies,test_df_genres, test_df_jobs, test_df_countries], axis=1)

In [81]:
train_movies = train_movies[(train_movies['revenue'] > 1000) & (train_movies['budget'] > 1000)]

In [82]:
train_movies['budget'] = np.log1p(train_movies['budget'])
test_movies['budget'] = np.log1p(test_movies['budget'])

In [83]:
del train_df_genres, train_df_jobs, train_df_countries, test_df_genres, test_df_jobs, test_df_countries

In [84]:
train_movies.head()

    revenue     budget   ...     United States of America  Uruguay
0  12314651  16.454568   ...                            1        0
1  95149435  17.504390   ...                            1        0
2  13092000  15.009433   ...                            1        0
3  16000000  13.997833   ...                            0        0
5   3261638  15.894952   ...                            0        0

[5 rows x 578 columns]

# Model

In [85]:
def RMSE(y_obs, y_pred):
    n = len(y_obs)
    rmse = np.sqrt( 1/n*np.sum((y_pred-y_obs)**2) )
    return rmse

def RMSLE(y_obs, y_pred):
    n = len(y_obs)
    rmsle = np.sqrt( 1/n*np.sum((np.log(y_pred)-np.log(y_obs))**2) )
    return rmsle

In [86]:
train = train_movies.iloc[:, 1:]
y_train = np.log1p(train_movies.iloc[:, 0]).values

In [87]:
# Create a model
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from catboost import CatBoostRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb

#Validation function
n_folds = 5

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train.values)
    rmse = np.sqrt(-cross_val_score(model, train.values, y_train, scoring="neg_mean_squared_error", cv=kf))
    return(rmse)

def eval_model(model, name):
    start_time = time.time()
    score = rmsle_cv(model)
    print("{} score: {:.4f} ({:.4f}),     execution time: {:.1f}".format(name, score.mean(), score.std(), time.time()-start_time))

In [88]:
train_movies

        revenue     budget   ...     United States of America  Uruguay
0      12314651  16.454568   ...                            1        0
1      95149435  17.504390   ...                            1        0
2      13092000  15.009433   ...                            1        0
3      16000000  13.997833   ...                            0        0
5       3261638  15.894952   ...                            0        0
6      85446075  16.454568   ...                            1        0
9      18750246  15.607270   ...                            1        0
10    117235147  13.815512   ...                            1        0
12    356296601  16.523561   ...                            1        0
13     95226116  17.785802   ...                            1        0
14    358372926  18.440483   ...                            1        0
16     57891803  17.073607   ...                            1        0
18      1749457  15.894952   ...                            0        0
19     85167639  17.281246   ...                            0        0
20    136159423  18.197537   ...                            1        0
21     36690067  15.201805   ...                            1        0
26     13835130  16.118096   ...                            1        0
27      7847000  16.213406   ...                            0        0
28      5849647  15.607270   ...                            1        0
29     94935764  17.622173   ...                            1        0
30    426480871  16.380460   ...                            0        0
32    146936910  18.315320   ...                            1        0
34    258022233  18.757153   ...                            1        0
35     40346186  17.216708   ...                            1        0
37    189859560  17.727534   ...                            1        0
39        14873  15.150512   ...                            1        0
41     16217773  14.914123   ...                            1        0
42     24362772  17.034386   ...                            1        0
43      1020921  15.607270   ...                            1        0
44     47175038  16.523561   ...                            1        0
...         ...        ...   ...                          ...      ...
2958   22730842  16.523561   ...                            1        0
2959    4600000  14.648420   ...                            0        0
2960    1163967  15.341567   ...                            0        0
2961  125728258  15.201805   ...                            1        0
2962   57330873  16.811243   ...                            1        0
2964     589244  14.731802   ...                            1        0
2965  441809770  17.926384   ...                            1        0
2966   87840042  17.504390   ...                            1        0
2967    7600000  14.508658   ...                            1        0
2968    2405420  17.034386   ...                            1        0
2969   87754044  16.801193   ...                            1        0
2970  411006740  17.034386   ...                            1        0
2971   15379253  16.811243   ...                            1        0
2974   10442808  16.811243   ...                            1        0
2975   57881056  17.622173   ...                            1        0
2976   15427192  16.588099   ...                            1        0
2977   29700000  17.785802   ...                            1        0
2979   77477008  17.370859   ...                            1        0
2980    2500000  12.611541   ...                            0        0
2982     376597  13.122365   ...                            1        0
2983     791830  17.370859   ...                            1        0
2984  116643346  18.197537   ...                            1        0
2985   14655628  17.444242   ...                            1        0
2986   16605763  16.811243   ...                            1        0
2991   91038276  16.380460   ...                            1        0
2992    1213880  13.942720   ...                            1        0
2993  219417255  17.909855   ...                            1        0
2997   89456761  17.989898   ...                            1        0
2998  171963386  17.553180   ...                            1        0
2999   82087155  17.370859   ...                            1        0

[2160 rows x 578 columns]

In [89]:
mod_lasso = make_pipeline(RobustScaler(), Lasso(alpha=0.005, random_state=1))
eval_model(mod_lasso, "lasso")

mod_enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
eval_model(mod_enet, "enet")

mod_cat = CatBoostRegressor(iterations=10000, learning_rate=0.01,
                            depth=5, eval_metric='RMSE',
                            colsample_bylevel=0.7, random_seed = 17, silent=True,
                            bagging_temperature = 0.2, early_stopping_rounds=200)
eval_model(mod_cat, "cat")

mod_gboost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=5, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state=5)
eval_model(mod_gboost, "gboost")

mod_xgb = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state=7, nthread=-1)
eval_model(mod_xgb, "xgb")

mod_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=8,
                              learning_rate=0.05, n_estimators=650,
                              max_bin=58, bagging_fraction=0.80,
                              bagging_freq=5, feature_fraction=0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf=7, min_sum_hessian_in_leaf=11)
eval_model(mod_lgb, "lgb")

lasso score: 1.5987 (0.1324),     execution time: 2.3
enet score: 1.7938 (0.1639),     execution time: 12.6
cat score: 1.5187 (0.1219),     execution time: 1474.9
gboost score: 1.5191 (0.0956),     execution time: 73.4
xgb score: 1.5682 (0.0919),     execution time: 78.6
lgb score: 1.4967 (0.1078),     execution time: 3.2

In [90]:
class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, n_folds=5):
        self.base_models = base_models
        self.meta_model = meta_model
        self.n_folds = n_folds
   
    # We again fit the data on clones of the original models
    def fit(self, X, y):
        self.base_models_ = [list() for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        
        # Train cloned base models then create out-of-fold predictions
        # that are needed to train the cloned meta-model
        out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models):
            for train_index, holdout_index in kfold.split(X, y):
                instance = clone(model)
                self.base_models_[i].append(instance)
                instance.fit(X[train_index], y[train_index])
                y_pred = instance.predict(X[holdout_index])
                out_of_fold_predictions[holdout_index, i] = y_pred
                
        # Now train the cloned  meta-model using the out-of-fold predictions as new feature
        self.meta_model_.fit(out_of_fold_predictions, y)
        return self
   
    #Do the predictions of all base models on the test data and use the averaged predictions as 
    #meta-features for the final prediction which is done by the meta-model
    def predict(self, X):
        meta_features = np.column_stack([
            np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
            for base_models in self.base_models_ ])
        return self.meta_model_.predict(meta_features)

<code>
mod_stacked = StackingAveragedModels(base_models = (mod_cat, mod_xgb, mod_gboost, mod_lgb), meta_model = mod_lasso)
eval_model(mod_stacked, "stacked")
<code>

In [91]:
def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))

def predict(model):
    model.fit(train.values, y_train)
    train_pred = model.predict(train.values)
    pred = np.expm1(model.predict(test_movies.values))
    print(rmsle(y_train, train_pred))
    return (pred)

In [92]:
my_pred = predict(mod_lgb)

1.0367655493825576

# Submission

In [93]:
hasil = pd.read_csv('../input/sample_submission.csv')
hasil['revenue'] = my_pred

In [94]:
hasil.to_csv('submission.csv', index=False)

# saving code

In [95]:
"""
cv = KFold(n_splits=5)
forest = RandomForestRegressor(n_estimators=17)

scores = []
X = train_movies.iloc[:, 1:].values
y = train_movies.iloc[:, 0].values


for train_idx, test_idx in cv.split(X, y):
    x_train = X[train_idx]
    x_test = X[test_idx]
    y_train = y[train_idx]
    y_test = y[test_idx]
    
    forest.fit(x_train, y_train)
    y_proba = forest.predict(x_test)
    y_pred = np.zeros(y_proba.shape)
    
    score = RMSLE(y_test, y_proba)
    print(score)
    scores.append(score)

print('\n')
print(np.round(np.mean(scores),4))
print('\n')
print(np.round(np.std(scores), 4))
"""

"\ncv = KFold(n_splits=5)\nforest = RandomForestRegressor(n_estimators=17)\n\nscores = []\nX = train_movies.iloc[:, 1:].values\ny = train_movies.iloc[:, 0].values\n\n\nfor train_idx, test_idx in cv.split(X, y):\n    x_train = X[train_idx]\n    x_test = X[test_idx]\n    y_train = y[train_idx]\n    y_test = y[test_idx]\n    \n    forest.fit(x_train, y_train)\n    y_proba = forest.predict(x_test)\n    y_pred = np.zeros(y_proba.shape)\n    \n    score = RMSLE(y_test, y_proba)\n    print(score)\n    scores.append(score)\n\nprint('\n')\nprint(np.round(np.mean(scores),4))\nprint('\n')\nprint(np.round(np.std(scores), 4))\n"

<code>
cv = KFold(n_splits=5)

best_score_mean = 1000000
best_score_std = 1000000
for n in list(range(1, 150)):
    forest = RandomForestRegressor(n_estimators=n)

    scores = []
    X = train_movies.iloc[:, 1:].values
    y = train_movies.iloc[:, 0].values

    a= 0
    for train_idx, test_idx in cv.split(X, y):
        x_train = X[train_idx]
        x_test = X[test_idx]
        y_train = y[train_idx]
        y_test = y[test_idx]

        forest.fit(x_train, y_train)
        y_proba = forest.predict(x_test)
        y_pred = np.zeros(y_proba.shape)

        score = RMSLE(y_test, y_proba)
        scores.append(score)
    print(a)
    a += 1

    mean_score = np.round(np.mean(scores),4)
    std_score = np.round(np.std(scores), 4)
    if mean_score < best_score_mean:
        best_score_mean = mean_score
        best_parameters_mean = {'n_estimators_for_mean':n}
    if std_score < best_score_std:
        best_score_std = std_score
        best_parameters_std = {'n_estimators_for_std':n}
        
print('best_parameters_mean : ', best_parameters_mean)
print('best_parameters_std : ', best_parameters_std)
<code>

tambahi